body {
	margin: 0;
	background-image: linear-gradient(#25274D, 50%, #29648A);
	/*background: #25274D;*/
	font-family: "Helvetica";
	font-weight: 700;
	font-size: 18;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	color: #ffffff;
	/*background: #29648A;*/
	border: solid 0px #000000;
}

header::after {
	content: '';
	display: table;
	clear: both;
}

h1 {
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-left: 100px;
	padding-top: 34px;
	
	position: relative;
}

nav a {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
}

nav a:hover {
	color: #AAABB8;
}

nav a:before {
	content:'';
	display: block;
	height: 5px;
	width: 100%;
	background-color:#AAABB8;
	
	position: absolute;
	top: 23px;
	width: 0%;
	
	transition: all ease-in-out 200ms;
}

nav a:hover:before {
	width: 100%;
}

#main {
	width: 1000px;
	height: auto;
	/*background: #25274D;*/
	margin: 50px auto;
	border: solid 2px #FFFFFF;
	padding: 50px;
	color: #FFFFFF;
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 100px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Linkedin */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Twitter */
.fa-github {
  background: #ffffff;
  color: #000000;
}

.fa-instagram {
  background: #000;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

hr {
	border: solid;
	color: #FFFFFF;
}

p {
	font-family:"Calibri";
	font-size: 12pt;
	text-align: left;
	text-indent: 48px;
	color: #3a3b3c;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border: solid 2px #000;
}

#education {
	width: 1000px;
	height: auto;
	/*background: #25274D;*/
	margin: 25px auto;
	border: solid 2px #FFFFFF;
	padding: 50px;
	text-align: left;
	color: #FFFFFF;
}

h3 {
	display: inline;
	vertical-align: center;
}

img {
	vertical-align: middle;
	border: solid 2px #000000;
}

#projects {
	width: 1000px;
	height: auto;
	/*background: #25274D;*/
	margin: 50px auto;
	border: solid 2px #FFFFFF;
	padding: 50px;
	text-align: left;
	color: #FFFFFF;
}

#work {
	width: 1000px;
	height: auto;
	/*background: #25274D;*/
	margin: 50px auto;
	border: solid 2px #FFFFFF;
	padding: 50px;
	text-align: left;
	color: #FFFFFF;
}

h3 {
	display: inline;
	vertical-align: center;
}

img {
	vertical-align: middle;
	border: solid 2px #000000;
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.back-to-top-link {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #d6e3f0;
    /* emoji don't behave like regular fonts
         so this helped position it correctly */
    padding: 0.25rem;
}
